/* Container per la barra di navigazione */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
  }
  
  /* Container per i link di navigazione */
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  /* Stile per i link di navigazione */
  .nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    transition: background-color 0.3s;
  }
  
  /* Stile per i link di navigazione al passaggio del mouse */
  .nav-link:hover {
    background-color: #575757;
    border-radius: 4px;
  }
  
  /* Container per il pulsante di logout */
  .logout-container {
    display: flex;
    align-items: center;
  }
  
  /* Stile per il pulsante di logout */
  .logout-link {
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    padding: 8px 16px;
    transition: background-color 0.3s;
  }
  
  /* Stile per il pulsante di logout al passaggio del mouse */
  .logout-link:hover {
    background-color: #575757;
    border-radius: 4px;
  }
  
  /* Stile per il router outlet per aggiungere margine */
  router-outlet {
    display: block;
    margin: 20px;
  }

  .user-info {
    background-color: #d9e3ed;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  

  .navbar.second-navbar {
    background-color: #e0b0ff; /* Colore di sfondo viola chiaro */
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
  }