<div class="navbar">
  <div class="nav-links">
    <a
      routerLink="/login"
      class="nav-link"
      *ngIf="authService.currentUserSig() === null"
      >Login</a
    >
    <a
      routerLink="/register"
      class="nav-link"
      *ngIf="authService.currentUserSig() === null"
      >Register</a
    >
    <a href="" class="nav-link" *ngIf="authService.currentUserSig() === null"
      >Password retrieve</a
    >
  </div>
  <div class="logout-container" *ngIf="authService.currentUserSig()">
    <div class="user-info">
      <span>{{ authService.currentUserSig()?.username }}</span>
    </div>
    <span (click)="logout()" class="logout-link">Logout</span>
  </div>
</div>

<div class="navbar second-navbar" *ngIf="authService.currentUserSig()">
  <div class="nav-links">
    <a routerLink="/view" class="nav-link" *ngIf="authService.currentUserSig()"
      >View</a
    >
    <a routerLink="/create-article" class="nav-link" *ngIf="authService.currentUserSig()"
    >Add</a
  >
  </div>
</div>

<router-outlet></router-outlet>
